/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 All countries
        4.3 Search countries
 */


/*///////////////////////!*/

/* ------------------------------- 1. Global Styles -------------------------------- */
