@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-card: #d6e9c4;
    --green-mid: #a4b791;
    --dark-green: #3c5917;
    --background-main: #B39C4D;
    --green-grey: #CCD8CC;
}

body {
    font-family: "Karla", sans-serif;
    background-color: var(--background-main);
}

h1,h2,h3,h4 {
    font-family: "Arima", system-ui;
}

